{% extends "index.html" %} {% block body %}

<div class="jumbotron">
    <div class="container">
        <h2>Rembrandt Explorer</h2>
        <p>Compare Volume <input id="v1" type="number" value="{{ v1 }}" min="1" max="6"> with Volume <input id="v2" type="number" value="{{v2}}" min="1" max="6"></p>
        <p><a class="btn btn-primary" href="/compare/1/2" id="compare_link">Compare</a></p>
    </div>
</div>
<div class='container'>
    <div class="row">
        <div class="col-md-6 compare_left">
            <h3>Named Entities</h3>
            <table id="entities_table_1" class="table table-striped">
                <thead>
                    <th>Relevance</th>
                    <th>Text</th>
                    <th>Type</th>
                    <th>#</th>
                    <th>Subtypes</th>
                </thead>
                <tbody>
                    {% for entity in content_json_1['entities'] %}
                    <tr>
                        <td>{{ entity['relevance'] }}</td>
                        <td>{{ entity['text'] }}</td>
                        <td>{{ entity['type'] }}</td>
                        <td>{{ entity['count'] }}</td>
                        <td>
                            {% if entity['disambiguation'] and entity['disambiguation']['subtype'] %} {% for subtype in entity['disambiguation']['subtype']
                            %}
                            <p>{{ subtype }}</p>
                            {% endfor %} {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 compare_right">
            <h3>Named Entities</h3>
            <table id="entities_table" class="table table-striped">
                <thead>
                    <th>Relevance</th>
                    <th>Text</th>
                    <th>Type</th>
                    <th>#</th>
                    <th>Subtypes</th>
                </thead>
                <tbody>
                    {% for entity in content_json_2['entities'] %}
                    <tr>
                        <td>{{ entity['relevance'] }}</td>
                        <td>{{ entity['text'] }}</td>
                        <td>{{ entity['type'] }}</td>
                        <td>{{ entity['count'] }}</td>
                        <td>
                            {% if entity['disambiguation'] and entity['disambiguation']['subtype'] %} {% for subtype in entity['disambiguation']['subtype']
                            %}
                            <p>{{ subtype }}</p>
                            {% endfor %} {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-6 compare_left">
            <!-- Concepts Table -->
            <h3>Named Concepts</h3>
            <table id="concepts_table_1" class="table table-striped">
                <thead>
                    <th>Text</th>
                    <th>Relevance</th>
                </thead>
                <tbody>
                    {% for concept in content_json_1['concepts'] %}
                    <tr>
                        <td>{{ concept['text'] }}</td>
                        <td>{{ concept['relevance'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 compare_right">
            <!-- Concepts Table -->
            <h3>Named Concepts</h3>
            <table id="concepts_table" class="table table-striped">
                <thead>
                    <th>Text</th>
                    <th>Relevance</th>
                </thead>
                <tbody>
                    {% for concept in content_json_2['concepts'] %}
                    <tr>
                        <td>{{ concept['text'] }}</td>
                        <td>{{ concept['relevance'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 compare_left">
            <!-- Keywords Table -->
            <h3> Keywords </h3>
            <table id="keywords_table_1" class="table table-striped">
                <thead>
                    <th>Keyword</th>
                    <th>Relevance</th>
                </thead>
                <tbody>
                    {% for keyword in content_json_1['keywords'] %}
                    <tr>
                        <td>{{ keyword['text'] }}</td>
                        <td>{{ keyword['relevance'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 compare_right">
            <!-- Keywords Table -->
            <h3> Keywords </h3>
            <table id="keywords_table" class="table table-striped">
                <thead>
                    <th>Keyword</th>
                    <th>Relevance</th>
                </thead>
                <tbody>
                    {% for keyword in content_json_2['keywords'] %}
                    <tr>
                        <td>{{ keyword['text'] }}</td>
                        <td>{{ keyword['relevance'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#compare_navbar_link").addClass("active");
    $("#entities_table_1").DataTable();
    $("#concepts_table_1").DataTable();
    $("#keywords_table_1").DataTable();

    $("#entities_table").DataTable();
    $("#concepts_table").DataTable();
    $("#keywords_table").DataTable();

    $("#compare_link").on("click", function(){
        $(this).attr("href", "/compare/"+$("#v1").val()+"/"+$("#v2").val());
    });

</script>

{% endblock %}